*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

form{
    display: flex;
    justify-content: center;
    gap : 10px;
    align-items: center;
    margin : 10px;
}

input[type="checkbox"] , input[type="radio"]{
    display: none;
}

input[type="color"]{
    visibility: hidden;
}

form div{
    display: flex;
    align-items: center;
    gap : 10px;
}

input:checked + label{
    background-color: #d3e2fd;

}
input + label{
    padding: 4px;
    border-radius: 2px;
}

.row2{
    display: flex;
    justify-content: center;
    margin : 10px;
}
.row2>input{
    width : 50vw;
}
.row2>div{
    margin-right: 20px;
}
.header{
    display: flex;
    width : fit-content;
    position: sticky;
    top : 0;
    background-color: white;
    z-index: 100;
}


.header .cell{
     min-width : 150px; 
    border : 1px solid gray; 
    text-align: center;
     padding: 5px 10px;
}

.body{
    display: grid;
    grid-template-columns: 50px auto;
    width :fit-content;
}

.container{
    border: 1px solid black;
    /* height: 80vh; */
    overflow: scroll;
}
.sno-container{
    text-align: center;
    position: sticky;
    left : 0;
    background-color: white;
}
.sno-container>div{
    border : 1px solid gray;
    height: 1.5rem;
}
.rows-container>div>div{
    border: 1px solid gray;
    min-width: 150px;
    min-height: 1.5rem;
}
.cell {
    display: inline-block;
    overflow: hidden;
}
.rows-container>div{
    display: flex;
}
.rows-container{
    display: flex;
    flex-direction: column;
}
.cell:focus{
    outline: 2px solid blue;
    height: auto;
}

.foot-form{
    display: flex;
    justify-content: flex-start;
    height: 100%;
    align-items: center;
    padding: 0px 50px;
    padding-bottom: 20px;
}
#root{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2fr 10fr 1fr;
    height: 100vh;
    width : 100vw;
    overflow-y: hidden;
}
.foot-form input:checked + label{
    background-color: green;
    color : white;
}
.foot-form>button{
    width : 20px;
    height : 20px;
}
